<div style="margin-bottom: 2em; padding: 5px;">
  <div class="row">
    <!-- Showing answer and username -->
    <div class="col-xs-10">
      <!-- to make read more link -->
      <% if answer.answer.length > 250 %>
        <p id="answer<%= answer.id %>" class="truncated-answer" style="display:inline;"><%= truncate(answer.answer, length: 250) %></p>
        <%= link_to 'Read more', '', id: "read-more-#{answer.id}" %>
        <script>
          $('#read-more-<%= answer.id %>').on('click', function(e) {
            e.preventDefault()
            $(".truncated-answer").html('<%= escape_javascript answer.answer %>')
          })
        </script>
      <% else %>
        <p id="answer<%= answer.id %>"><%= answer.answer %></p>
      <% end %>
      
      <p style="margin-top: 0.3em;"><i> - <%= answer.user.name %></i></p>
    </div>

    <!-- Showing edit and delete options -->
    <div class="col-xs-2">
      <% if answer.user == current_user %>
        <i id="edit_answerQ<%= answer.id %>" class="glyphicon glyphicon-edit" style="color: green;"></i>
        <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, answers_path(:id => answer.id), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>

  <!-- Upvote, downvote and reply buttons -->
  <div class="row">
    <div class="col-xs-10">
      <button id="upvote<%= answer.id %>" class="btn btn-default">Upvote | <%= answer.upvotes %></button>
      <button id="downvote<%= answer.id %>" class="btn btn-default">Downvote</button>
    </div>
    <div class="col-xs-2">
      <div style="margin-top:0.6em;">
        <i id="replyA<%= answer.id %>" class="glyphicon glyphicon-share-alt" style="color: black;"></i>
        <i class="glyphicon glyphicon-share" style="color: black;"></i>
      </div>
    </div>
  </div>

  <!-- Showing replies -->
  <% if full == true %>
    <div class="row" style="">
      <div class="col-xs-11 col-xs-offset-1">
      <% answer.replies.each do |reply| %>
        <%= render 'reply', :reply => reply %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
