<div style="margin-bottom: 2em; padding: 5px;">
  <div class="row">
    <div class="col-xs-2">
      <% if answer.user.profile_pic.length != 0 %>
        <%= image_tag answer.user.profile_pic.thumb, class: 'img img-responsive img-smround', width: 45 %>
      <% else %>
        <%= image_tag 'thumb.jpg', class: 'img img-responsive img-smround', width: 45 %>
      <% end %>
    </div>
    <div class="col-xs-8" style="margin-left: -50px;">
      <%= link_to answer.user.name, public_profile_path(:id => answer.user.id) %>
    </div>
    <div class="col-xs-2" style="margin-left: 50px;">
      <% if answer.user == current_user %>
        <a id="edit_answerQ<%= answer.id %>" class="icon-text">edit</a>
        <%= link_to 'delete', answers_path(:id => answer.id), class: 'icon-text', method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <!-- Showing answer and username -->
    <div class="col-xs-12">
      <!-- to make read more link -->
      <% if answer.answer.length > 250 %>
        <div>
          <p id="answer<%= answer.id %>" class="truncated-answer" style="display:inline;"><%= truncate(answer.answer, length: 250) %></p>
        </div>
        <%= link_to 'Read more', '', id: "read-more-#{answer.id}" %>
        
        <script>
          $('#read-more-<%= answer.id %>').on('click', function(e) {
            e.preventDefault()
            $(".truncated-answer").html('<%= escape_javascript answer.answer %>')
          })
        </script>
      <% else %>
        <p id="answer<%= answer.id %>"><%= answer.answer %></p>
      <% end %>
      
      <p class="text-muted"><small>Updated at <%= answer.updated_at.strftime('%-d %B, %Y') %></small></p>
    </div>
  </div>

  <% if answer.image.length != 0 %>
    <!-- Displaying answer's image -->
    <div class="row">
      <div class="col-xs-12">
        <img src="<%= answer.image %>" class="img img-responsive">
        <br>
      </div>
    </div>
  <% end %>

  <!-- Upvote, downvote and reply buttons -->
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12">
        <button id="upvote<%= answer.id %>" class="btn btn-default">Upvote | <%= answer.upvotes %></button>
        <button id="downvote<%= answer.id %>" class="btn btn-default">Downvote</button>
        <button id="replyA<%= answer.id %>" class="btn btn-default">Reply</button>
        <button id="showReplies<%= answer.id %>" class="btn btn-default">Replies | <%= answer.replies.count %></button>
      </div>
    </div>
  <% end %>

  <!-- Hidden replies -->
  <div class="row" style="">
    <div class="col-xs-11 col-xs-offset-1">
      <div id="replies<%= answer.id %>" class="hidden" style="margin-top: 1em; margin-bottom: -1em;">
        <% answer.replies.each do |reply| %>
          <%= render 'questions/reply', :reply => reply %>
        <% end %>
      </div>
    </div>
  </div>
</div>