<div class="box-footer box-comments cause-block-1">
  <div class="box-comment">
    <!-- User image -->
    <% if answer.user.profile_pic.length != 0 && answer.anonymous == false %>
        <%= image_tag answer.user.profile_pic.thumb, class: 'img-circle img-sm', width: 128,height:128 %>
      <% else %>
        <%= image_tag 'thumb.jpg',class: 'img-circle img-sm', width: 128,height:128 %>
    <% end %>
    
    <div class="comment-text">
      <span class="username">
        <% if answer.anonymous == false %>
          <%= link_to answer.user.name, public_profile_path(:id => answer.user.id) %>
        <% else %>
          <p>Anonymous</p>
        <% end %>
        <span class="text-muted pull-right">
          <% if answer.user == current_user %>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Edit Question" id="edit_answerQ<%= answer.id %>">
                <i class="fa fa-pencil"></i>
              </button>
              <%= link_to answers_path(:id => answer.id), class: 'btn btn-box-tool', method: :delete, data: { confirm: 'Are you sure?'} do  %>
                <i class="fa fa-times"></i>
              <%end%>
            </div> <!-- .box-tools -->
          <%end%>
        </span>
      </span>
      <p>
        <div id="answer<%= answer.id %>">
           <!---->
        <% if answer.content.length > 120 %>
        <%= truncate(answer.content, length: 120) %>
        <%= link_to '...Read more', '', class: "read-more-#{answer.id}" %>
        <script>
          $('.read-more-<%= answer.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript answer.content.html_safe %>')
          })
        </script>
      <% else %>
        <%= answer.content.html_safe %>
        <br>
      <% end %>
        <!---->
        </div>        
      </p>
      <% if user_signed_in? %>
        <div class="row">
          <div class="col-xs-12">
            <!-- Upvote button -->
            <% if current_user.answers_upvote.include? answer.id %>
              <button class="btn btn-default btn-xs"><span style="color: blue;">Upvoted</span> | <%= answer.upvotes %></button>
            <% else %>
              <button id="upvote<%= answer.id %>" class="btn btn-default btn-xs">Upvote | <%= answer.upvotes %></button>
            <% end %>
    
            <!-- Downvote button -->
            <% if current_user.answers_downvote.include? answer.id %>
              <button class="btn btn-default btn-xs"><span style="color: blue;">Downvote</span></button>
            <% else %>
              <button id="downvote<%= answer.id %>" class="btn btn-default btn-xs">Downvote</button>
            <% end %>
    
            <!-- Reply buttons -->
            <button id="replyA<%= answer.id %>" class="btn btn-default btn-xs">Reply</button>
            <button id="showReplies<%= answer.id %>" class="btn btn-default btn-xs">Replies | <%= answer.replies.count %></button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- comment-text -->
  </div>
  <!-- .box-comment -->
    <div id="replyContent<%= answer.id %>" class="row hidden">
    <div class="col-xs-12">
      <% @reply = Reply.new %>
      <%= form_for @reply, :url => {:controller =>"replies", :action => "create"}  do |f| %>
        <%= f.cktext_area :content, class: 'form-control ckeditor' %><br>
        <%= f.hidden_field :answer_id, value: answer.id %>
    </div>
    <div class="col-xs-4 col-xs-offset-8">
      <div>
        <strong>Anonymous</strong> <%= f.check_box :anonymous %>
        <%= f.submit "Post", class:'btn btn-squared btn-ask1'%>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Hidden replies -->
  <div class="row" style="">
    <div class="col-xs-11 col-xs-offset-1">
      <div id="replies<%= answer.id %>" class="hidden" style="margin-top: 1em; margin-bottom: -1em;">
        <% answer.replies.each do |reply| %>
          <%= render 'questions/reply', :reply => reply %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$("[id^=replyA]").click(function() {
  answer_id = this.id.substring(6, this.id.length)
  console.log('id: '+answer_id)
  
  $("#replyContent"+answer_id).toggleClass("hidden")
})
// 

</script>

