<%= render 'layouts/side_menu'%>

  <div class="col-sm-6" style="margin-left:">
   <% @question = Question.new %>
    <!--<div class="form-group ">-->
      <%if user_signed_in?%>
        <%= form_for @question,:url =>{ :controller =>"questions", :action =>"create"}, :html =>{id: 'ask_question'}  do |f| %>
          <div class="form-group">
            <%= f.text_area :content, autofocus: true, class:'form-control',placeholder: 'What do you want to ask?',rows: "2"%>
          </div>
          <div class="pull-right">
            <%= f.submit "Post",class:'btn btn-danger custom-btnn'%>
          </div>
        <%end%>
        <br><br><br>  
        <%end%>
      
      <div class="row">
        <% @questions.each do |question| %>
          <%= render 'question', :question => question, :answers => question.answers.order('created_at DESC'), :full => false %>
        <% end %>
      </div>
      <%if @decider == 0 %>
      <%else%>
        <%= paginate @questions, param_name: "page"%>
      <%end%>
  </div>
  <div class="col-sm-3" style="">
    <%= render 'layouts/sidebar'%>
  </div>
    <br>


<%= javascript_include_tag "questions_script", "data-turbolinks-track" => true  %>