<div class="background-div">
    <div class="container">
      <div class="row" style="padding-top: 3em;">
        <div class="col-md-8">
    <!-- Questions area -->
      <div class="question-area">
        <% @items.each do |item| %>
          <% if item.class.name == "Question" %>
            <%= render 'questions/question', :question => item, :answers => item.answers.order('created_at DESC'), :full => false %>
          <% elsif item.class.name == "Contest" %>
            <%= render 'contests/contest', :contest => item, :contest_answers => item.contest_answers, :is_admin => is_admin?, :full => false %>
          <% elsif item.class.name == "Cause" %>
            <%= render 'causes/cause', :cause => item, :cause_comments => item.cause_comments, :full => false %>
          <% elsif item.class.name == "Article" %>
            <%= render 'articles/article', :article => item, :full => false %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Suggestions -->
    
  </div>
</div>
</div>

<%= javascript_include_tag "questions_script", "data-turbolinks-track" => true  %>