<% if !user_signed_in? %>
    <%= render 'layouts/navbar1'%>
<%end%>

<div class="container main-wall">
  <!--navbar-->
  <div class="row">
    <!-- left bar  -->
    <%= render 'layouts/leftbar'%>

    <!--question area  -->
    <div class="col-md-5 question-area">
    <% if @questions.nil? %>
      <%= render 'layouts/question', :question => @question, :answers => @question.answers, :full => true %>
    <% else %>
      <% @questions.each do |question| %>
          <%= render 'layouts/question', :question => question, :answers => question.answers, :full => false %>
      <% end %>
    <% end %>
    </div>

    <!-- suggestions -->
    <%= render 'layouts/suggestions'%>
  </div>
</div>

<!-- Modal for posting answer -->
<div class="modal bnr-modal fade" id="answerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4 id="question-header"></h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @answer = Answer.new %>
          <%= form_for @answer, :url => { :controller =>"answers", :action =>"create"}  do |f| %>
          <div class="form-group">
            <%= f.text_area :answer, rows: 5, class: 'form-control' %>
            <%= f.hidden_field :question_id %>
          </div>
          <div class="row" style="padding-top:3em;">
            <center>
              <%= f.file_field :image,class: 'btn btn-squared btn-ask1' %>
              <%= f.submit "Post Answer", class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for posting reply -->
<div class="modal bnr-modal fade" id="replyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Reply</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @reply = Reply.new %>
          <%= form_for @reply, :url => { :controller =>"replies", :action =>"create"}  do |f| %>
          <div class="form-group">
            <%= f.text_area :reply, rows: 5, class: 'form-control' %>
            <%= f.hidden_field :answer_id %>
          </div>
          <div class="row" style="padding-top:3em;">
            <center>
              <%= f.submit "Post Reply", class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for editing an answer -->
<div class="modal bnr-modal fade" id="editAnswerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Answer</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form id="new_answer_form" enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <textarea id="new_answer_answer" class="form-control"></textarea>
            <br><br>

            <center>
              <input id="new_answer_image" class="btn btn-squared btn-ask1" type="file" />
              <input id="new_answer_submit" type="submit" value="Update Answer" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>


<script type="text/javascript">
  // Answering a question
  $("[id^=answerQ]").click(function() {
    question_id = this.id.substring(7, this.id.length)
    console.log('id: '+question_id)

    $("#question-header").html($("#question-content"+question_id).val())
    $("#answer_question_id").val(question_id)
    $('#answerModal').modal('show');
  })

  // Replying an answer
  $("[id^=replyA]").click(function() {
    answer_id = this.id.substring(6, this.id.length)
    console.log('id: '+answer_id)

    $("#reply_answer_id").val(answer_id)
    $('#replyModal').modal('show');
  });

  // Editing an answer
  $("[id^=edit_answerQ]").click(function() {
    answer_id = this.id.substring(12, this.id.length)
    $("#new_answer_answer").val($('#answer'+answer_id).text())
    $('#editAnswerModal').modal('show');
  })

  // Following a question
  $("[id^=follow]").click(function() {
    question_id = this.id.substring(6, this.id.length)

    // Sending ajax request to follow the question
    $.ajax({
      url: "/follow",
      type: "POST",
      data: { question_id: question_id },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        alert("followed")
      },
      error: function() {
        alert("error")
      }
    });

    // Changing UI to indicate followed
    $(this).html('Followed')
    $(this).addClass("following")
  })

  // Upvoting an answer
  $("[id^=upvote]").click(function() {
    answer_id = this.id.substring(6, this.id.length)

    // Sending ajax request to upvote an answer
    $.ajax({
      url: "/upvote",
      type: "POST",
      data: { answer_id: answer_id },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        alert("upvoted")

        // Updating upvote button UI to show new vote
        var upvotes = $('#upvote'+answer_id).text()
        upvotes = parseInt(upvotes.substring(9, upvotes.length))
        $('#upvote'+answer_id).html('Upvote | '+(upvotes+1))
      },
      error: function() {
        alert("error")
      }
    });
  })

  $("[id^=downvote]").click(function() {
    answer_id = this.id.substring(6, this.id.length)

    // Sending ajax request to downvote an answer
    $.ajax({
      url: "/downvote",
      type: "POST",
      data: { answer_id: answer_id },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        alert("downvoted")
      },
      error: function() {
        alert("error")
      }
    });
  })
</script>