<div class="container main-wall">
  <!--navbar-->
  <div class="row">
    <!-- left bar  -->
    <%= render 'layouts/leftbar'%>
    <!--question area  -->
    <div class="col-md-5 question-area">
      <div class="question-content">
        <%= @question.content%>
      </div>
      <br/>
      <div class="question-image1">
        <%=@question.image if @question.image%>
      </div>
      <br/>
      <div class="question-details">
        <%= @question.detail if @question.detail%>
      </div>
      <div class="small-details">
        <span id="views"><b>*</b> 44 views </span><span id="answers"><b>*</b> 4 answers</span>
      </div>

      <div class="voting">
        <i class="glyphicon glyphicon-thumbs-up"></i><span id="upvote"><a>Upvote</a> </span><i class="glyphicon glyphicon-thumbs-down"></i><span id="downvote"><a>Downvote</a></span>
      </div>
    </div>
    <!-- suggestions -->
    <%= render 'layouts/suggestions'%>
  </div>
</div>
