<div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-offset-0 col-md-12">
                <div class="" style="margin-top:;">
                  <h3> <%= link_to article_request.heading, article_request_path(:id => article_request.id) %></h3>
                  <p class="font-size">
                    <div id="question_detail<%= article_request.id %>">
                      <% if !article_request.explanation.nil? %>
                      <!---->
                        <% if article_request.explanation.length > 250 && full == false %>
                        
                        <%= truncate(article_request.explanation.html_safe, length: 100) %>
                        <%= link_to '...Read more', '', class: "read-more-#{article_request.id}" %>
                        <script>
                          $('.read-more-<%= article_request.id %>').on('click', function(e) {
                            e.preventDefault()
                            $(this).parent().html('<%= escape_javascript article_request.explanation.html_safe %>')
                          })
                        </script>
                      
                      <% else %>
                      
                        <%= article_request.explanation.html_safe %>
                        <br>
                      
                      <% end %>
                      <!---->
                    <%end%>
                  </div>
                  </p>
                  
                  <% if user_signed_in? %>
                    <%= link_to '<div class="btn btn-default btn-ask2">Respond</div>'.html_safe, answer_article_request_path(:id => article_request.id) %>
                  <% else %>
                    <div class="btn btn-default btn-ask2" data-toggle="modal" data-target="#signInModal">Respond</div>
                  <% end %>
                  
                  <% if request.path == article_requests_path %>
                    <%= link_to '<div class="btn btn-default">View Response</div>'.html_safe, article_request_path(:id => article_request.id) %>
                  <% else %>
                  <%end%>
                  
                </div>          
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>



<!--code is present in the extra.html-->



