<div style="margin: 2em 0em; padding: 5px;">
  <div class="row">
    <div class="col-xs-10">
      <p>In
        <% article_request.topics.each do |topic| %>
          <%= topic %>
        <% end %>
      </p>
    </div>

    <div class="col-xs-2">
      <% if article_request.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-edit" style="color: green;"></i>'.html_safe, edit_article_request_path(:id => article_request.id) %>
        <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, article_request_path(:id => article_request.id), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-top:0px;"><%= link_to article_request.heading, article_request_path(:id => article_request.id) %></h2>
      <p>By <i style="color:green;"><%= article_request.user.name %></i>, <%= article_request.created_at.strftime('%d-%m-%Y') %></p>

      <p><%= article_request.explanation %></p>
    </div>
  </div>

  <% if article_request.user_id != current_user.id %>
    <%= link_to '<div class="btn btn-default">Answer</div>'.html_safe, answer_article_request_path(:id => article_request.id) %>
  <% end %>

  <!-- Checking if its an index path -->
  <% if request.path == article_requests_path %>
    <%= link_to '<div class="btn btn-default">View Response</div>'.html_safe, article_request_path(:id => article_request.id) %>
  <% else %>
    <% if @articles.empty? %>
      <h3 style="color:red;">No responses yet</h3>
    <% else %>
      <hr>
      <h3>Responses</h3>
      <% @articles.each do |article| %>
        <h3><%= link_to article.heading, articles_path(:id => article.id) %></h3>
        <small class="text-muted"><%= article.created_at.strftime('%H:%M:%S, %-d %B %Y') %></small><br/>
      <% end %>
    <% end %>
  <% end %>
</div>