<% if !user_signed_in? %>
    <%= render 'layouts/navbar1'%>
<%end%>

<div class="container main-wall">
  <div class="row">
    <!-- Leftbar  -->
    <div class="col-xs-2">
      <%= render 'layouts/leftbar'%>
    </div>

    <!-- Questions area -->
    <div class="col-xs-7">
      <div class="question-area">
        <% @questions.each do |question| %>
            <%= render 'layouts/question', :question => question, :answers => question.answers, :full => false %>
        <% end %>
      </div>
    </div>

    <!-- Suggestions -->
    <div class="col-xs-3">
      <%= render 'layouts/suggestions'%>
    </div>
  </div>
</div>

<!-- Rendering modals for posting and editing -->
<%= javascript_include_tag "script", "data-turbolinks-track" => true  %>