<div class="row">
<div class="col-md-11">
<div class="row">
  <div class="col-xs-12">
    <center>
    <% if current_user.completed == false %>
      <br>
      <p>Please enter all the info and click the button below</p>
      <p><small class="text-muted">You need to complete your profile before posting</small></p>
      
      <%= form_tag("/mark_as_complete", method: "post") do %>
        <%= submit_tag 'Complete Profile', class: "btn btn-cause" %>
      <% end %>
    <% else %>
      <br>
      <p style="color: blue;">Your profile is complete</p>
    <% end %>
    </center>
  </div>
</div>

<div class="row main-padding" style="padding-top: 3em;">
   
  <!-- Left side of the page -->
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-12  " style="margin-bottom: 2em; padding-bottom: 1em;border:1px solid #95a5a6;padding:5px 3px">
        <h7 class="heading">KNOWS ABOUT</h7>
        <hr class="black-hr">
        <p class="sub-heading">What topics do you know about?</p>

        <p>
        <% @user.knows_about.sort.each do |know_about| %>
           <%= link_to know_about.titleize, questions_path(:topic => know_about) %> .
        <% end %>
        </p>

        <center><button class="btn-round btn-cause" data-toggle="modal" data-target="#addTopicsModal">+</button></center>
      </div>
      
      <div class="col-xs-12  " style="margin-bottom: 2em; padding-bottom: 1em;border:1px solid #95a5a6;padding:5px 3px">
        <h7 class="heading">PROFILE PICTURE</h7>
        <hr class="black-hr">
        <div class="row">
          <div class="col-xs-4">
            <center>
              <%= image_tag current_user.profile_pic.thumb, :class => 'img img-responsive' %>
            </center>
          </div>
          
          <div class="col-xs-6">
            <%= form_for current_user, :url =>{ :controller =>"feeds", :action =>"update_profile_pic"} do |f| %>
              <div class="row" style="margin-bottom: 1em;">
                <center>
                  <%= f.file_field :profile_pic, class: 'btn' %> <br>
                </center>
              </div>
    
              <center>
                <%= f.submit '+', class: "btn-round btn-cause" %>
              </center>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12  " style="padding-bottom: 1em;border:1px solid #95a5a6;padding:5px 3px">
        <h7 class="heading">EDUCATION</h7>
        <hr class="black-hr">
        <p class="sub-heading">Where have you studied?</p>

        <% @user.education.each do |education| %>
          <li> <h4> <%= education[:degree] %> from <%= education[:school] %> </h4> </li>
        <% end %>

        <%= form_tag("/add_education", method: "post") do %>
          <div class="row" style="margin-bottom: 1em;">
            <div class="col-xs-6">
              <label>Degree:</label>
            </div>
            <div class="col-xs-6">
              <%= select_tag :degree, options_for_select(@degrees), class: "form-control" %>
            </div>
          </div>

          <div class="row" style="margin-bottom: 1em;">
            <div class="col-xs-6">
              <label>Subject:</label>
            </div>
            <div class="col-xs-6">
              <%= select_tag :subject, options_for_select(@subjects), class: "form-control" %>
            </div>
          </div>

          <div class="row" style="margin-bottom: 1em;">
            <div class="col-xs-6">
              <label>Institution:</label>
            </div>
            <div class="col-xs-6">
              <%= text_field_tag :school, nil, class: "form-control" %>
            </div>
          </div>

          <center>
            <%= submit_tag '+', class: "btn-round btn-cause" %>
          </center>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Right side of the page -->
  <div class="col-xs-5 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12  " style="margin-bottom: 2em; padding-bottom: 1em;border:1px solid #95a5a6;padding:5px 3px">
        <h7 class="heading">INTRESTED IN</h7>
        <hr class="black-hr">
        

        <p>
        <% @user.interests.sort.each do |interest| %>
           <%= link_to interest.titleize, questions_path(:topic => interest) %> .
        <% end %>
        </p>

        <center><button class="btn-round btn-cause" data-toggle="modal" data-target="#addInterestsModal">+</button></center>
      </div>
      
      
      <!---->
      <div class="col-xs-12  " style="padding-bottom: 1em;border:1px solid #95a5a6;padding:5px 3px">
        <h7 class="heading">LOCATION</h7>
        <hr class="black-hr">
        <p class="sub-heading">Where do you currently live?</p>

        <%= form_tag("/update_location", method: "post") do %>
          <div class="row" style="margin-bottom: 1em;">
            <div class="col-xs-6">
              <label>Address:</label>
            </div>
            <div class="col-xs-6">
              <%= text_field_tag :location, @user.location, class: "form-control" %>
            </div>
          </div>

          <center>
            <%= submit_tag '+', class: "btn-round btn-cause" %>
          </center>
        <% end %>
      </div>
      <!---->
      <div class="col-xs-12  " style="margin-bottom: 2em; padding-bottom: 1em;margin-top:1.3em;border:1px solid #95a5a6;padding:5px 3px">
        <h7 class="heading">EMPLOYMENT</h7>
        <hr class="black-hr">
        <p class="sub-heading">Where have you worked?</p>

        <% @user.employments.each do |employment| %>
          <li> <h4> <%= employment[:position] %> at <%= employment[:organization] %>
          from <%= employment[:start] %> to <%= employment[:end] %> </h4> </li>
        <% end %>

        <%= form_tag("/add_employment", method: "post") do %>
          <div class="row" style="margin-bottom: 1em;">
            <div class="col-xs-6">
              <label>Position:</label>
            </div>
            <div class="col-xs-6">
              <%= text_field_tag :position, nil, class: "form-control" %>
            </div>
          </div>

          <div class="row" style="margin-bottom: 1em;">
            <div class="col-xs-6">
              <label>Organization:</label>
            </div>
            <div class="col-xs-6">
              <%= text_field_tag :organization, nil, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <p>From <%= select_tag :start, options_for_select(((Date.today.year - 50)..Date.today.year).to_a), class: "form-control" %></p>
            </div>
            <div class="col-xs-6">
              <p>To <%= select_tag :end, options_for_select(((Date.today.year - 50)..Date.today.year).to_a), class: "form-control" %></p>
            </div>
          </div>

          <center>
            <%= submit_tag '+', class: "btn-round btn-cause" %>
          </center>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>