<p>Edit your profile here</p>


<h2>Interests</h2>

<% @user.interests.sort.each do |interest| %>
	<p> <%= interest.titleize %> </p>
<% end %>

<%= form_tag("/add_interest", method: "post") do %>
  <p>
    <%= select_tag :interest, options_for_select(@interests) %>
  </p>
 
  <p>
    <%= submit_tag("Add Interest") %>
  </p>
<% end %>


<h2>Education</h2>

<% @user.education.each do |education| %>
	<li> <h4> <%= education[:degree] %> from <%= education[:school] %> </h4> </li>
<% end %>


<%= form_tag("/add_education", method: "post") do %>
  <p>
    <%= select_tag :degree, options_for_select(@degrees) %>
  </p>

  <p>
    <%= select_tag :subject, options_for_select(@subjects) %>
  </p>

  <p>
    <%= text_field_tag :school %>
  </p>
 
  <p>
    <%= submit_tag("Add School") %>
  </p>
<% end %>

<h2>Employment</h2>
<% @user.employments.each do |employment| %>
	<li> <h4> <%= employment[:position] %> at <%= employment[:organization] %> 
	from <%= employment[:start] %> to <%= employment[:end] %> </h4> </li>
<% end %>

<%= form_tag("/add_employment", method: "post") do %>
  <p>
    <%= text_field_tag :position %>
  </p>

  <p>
    <%= text_field_tag :organization %>
  </p>

  <p>
    From <%= select_tag :start, options_for_select(((Date.today.year - 50)..Date.today.year).to_a) %>
    To <%= select_tag :end, options_for_select(((Date.today.year - 50)..Date.today.year).to_a) %>
  </p>
 
  <p>
    <%= submit_tag("Add Employment") %>
  </p>
<% end %>