<p>Edit your profile here</p>


<h2>Interests</h2>

<% @user.interests.sort.each do |interest| %>
	<p> <%= interest.titleize %> </p>
<% end %>

<%= form_tag("/add_interest", method: "post") do %>
  <p>
    <%= select_tag :interest, options_for_select(@interests) %>
  </p>
 
  <p>
    <%= submit_tag("Add Interest") %>
  </p>
<% end %>


<h2>Education</h2>

<% @user.education.each do |education| %>
	<li> <h4> <%= education[:degree] %> from <%= education[:school] %> </h4> </li>
<% end %>


<%= form_tag("/add_education", method: "post") do %>
  <p>
    <%= select_tag :degree, options_for_select(@degrees) %>
  </p>

  <p>
    <%= select_tag :subject, options_for_select(@subjects) %>
  </p>

  <p>
    <%= text_field_tag :school %>
  </p>
 
  <p>
    <%= submit_tag("Add School") %>
  </p>
<% end %>

<h2>Employment</h2>
<% @user.employments.each do |employment| %>
	<h4> <%= employment[:position] %> at <%= employment[:organization] %> in <%= employment[:year] %> </h4>
<% end %>

<%= form_tag("/add_employment", method: "post") do %>
  <p>
    <%= select_tag :position, options_for_select(@degrees) %>
  </p>

  <p>
    <%= select_tag :organization, options_for_select(@subjects) %>
  </p>

  <p>
    <% select_year :year, {start_year: 1992, end_year: 2007} %>
  </p>
 
  <p>
    <%= submit_tag("Add Employment") %>
  </p>
<% end %>