<div class="container" style="padding-top: 3em;">
  <div class="row">
    
    <!--Left side: Profile and feeds-->
    <div class="col-xs-9">
      
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag 'thumb.jpg', height: '150px' %>
        </div>
        
        <div class="col-xs-9">
          <h2><%= @user.name %></h2>
          
          <p>Life is the infinite interaction between variables within life itself; 
          and I am trying to learn about it everyday</p>
          
          <div class="btn btn-default">Follow | 2</div>
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-xs-3">
          <h4>Feeds</h4>
          <hr class="profile-hr">
          
          <ul class='links-list'>
            <li><%= link_to 'Answers', public_profile_path(:id => @user.id) %></li>
            <li><%= link_to 'Questions', public_profile_path(:id => @user.id, :option => 'questions')  %></li>
            <li><%= link_to 'Contests', public_profile_path(:id => @user.id, :option => 'contests')  %></li>
            <li><%= link_to 'Causes', public_profile_path(:id => @user.id, :option => 'causes')  %></li>
            <li><%= link_to 'Articles', public_profile_path(:id => @user.id, :option => 'articles')  %></li>
          </ul>
        </div>
        
        <div class="col-xs-9">
          <% if @option == 'questions' || @option.nil? %>
            <% @items.each do |item| %>
              <%= render 'questions/question', :question => item, :answers => item.answers.order('created_at DESC'), :full => false %>
            <% end %>
          <% elsif @option == 'contests' %>
            <% @items.each do |item| %>
              <%= render 'contests/contest', :contest => item, :contest_answers => item.contest_answers, :is_admin => is_admin?, :full => false %>
            <% end %>
          <% elsif @option == 'causes' %>
            <% @items.each do |item| %>
              <%= render 'causes/cause', :cause => item, :cause_comments => item.cause_comments, :full => false %>
            <% end %>
          <% elsif @option == 'articles' %>
            <% @items.each do |item| %>
              <%= render 'articles/article', :article => item, :full => false %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
    <!--Right side: About info-->
    <div class="col-xs-3">
      <h4>Views on <%= @user.name %></h4><hr class='profile-hr'>
      <p class='text-muted'><%= @user.profile_views %> profile views</p>
      
      <!-- About user: education and employment -->
      <h4 style="margin-top:1em;">About User</h4><hr class='profile-hr'>
      <% @user.employments.each do |emp| %>
        <p>Worked as <%= emp[:position] %> at <%= emp[:organization] %> from <%= emp[:start] %> to <%= emp[:end] %></p>
      <% end %>
      <% @user.education.each do |edu| %>
        <p><%= edu[:degree] %> in <%= edu[:subject] %> from <%= edu[:school] %></p>
      <% end %>
      <% if !@user.location.empty? %>
        <p>Lives in <%= @user.location %></p>
      <% end %>
      
      <h4 style="margin-top:1em;">Knows About</h4><hr class='profile-hr'>

      <% @user.interests.reject { |i| i.empty? }.each do |interest| %>
        <p class='text-bold' style="margin-bottom: 0;"><%= interest %></p>
        <p style="color:grey; margin-top: 0;"><small><%= link_to 'Answers', questions_path(:topic => interest) %></small></p>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "questions_script", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "contests_script", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "causes_script", "data-turbolinks-track" => true  %>