<style>
  .background-div{
    background-color:#fff;  
  }
</style>
  <div class="row">
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-3">
              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <% if @user.profile_pic.length != 0 %>
                    <%= image_tag @user.profile_pic.thumb, class: 'profile-user-img img-responsive img-circle' %>
                  <% else %>
                    <%= image_tag 'profile-pic.png', class: 'profile-user-img img-responsive img-circle', height: '150px' %>
                  <% end %>
                  <h3 class="profile-username text-center"><%= @user.name %></h3>
    
                  <p class="text-muted text-center">
                    <% @user.employments.each do |emp| %>
                      <p><%= emp[:position] %> at <%= emp[:organization] %> from <%= emp[:start] %> to <%= emp[:end] %></p>
                    <% end %>
                  </p>
    
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Questions Asked</b> <a class="pull-right"><%=Question.where(:user_id => current_user.id).count%></a>
                    </li>
                    <li class="list-group-item">
                      <b>Answers Written</b> <a class="pull-right"><%=Answer.where(:user_id => current_user.id).count%></a>
                    </li>
                    <li class="list-group-item">
                      <b>Causes Started</b> <a class="pull-right"><%=Cause.where(:user_id => current_user.id).count%></a>
                    </li>
                  </ul>
                  <% if current_user == @user%>
                  <%else%>
                    <a href="#" class="btn btn-cause btn-block" style="margin-left:-0.3em"><b>Follow</b></a>
                  <%end%>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
    
              <!-- About Me Box -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
    
                  <p class="text-muted">
                   <% @user.education.each do |edu| %>
                    <p><%= edu[:degree] %> in <%= edu[:subject] %> from <%= edu[:school] %></p>
                  <% end %>
                  </p>
    
                  <hr>
    
                  <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
    
                  <p class="text-muted"><% if !@user.location.empty? %>
                    <p>Lives in <%= @user.location %></p>
                    <% end %>
                  </p>
    
                  <hr>
    
                  <strong><i class="fa fa-pencil margin-r-5"></i>Intersts</strong>
                  <p>
                    <% @user.interests.reject { |i| i.empty? }.each do |interest| %>
                      <span class="label label-danger"><%= interest %></span>
                    <%end%>
                  </p>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
              <div class="nav-tabs-custom" style="margin-top:2em;">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#questions" data-toggle="tab">Questions</a></li>
                  <li><a href="#contests" data-toggle="tab">Contests</a></li>
                  <li><a href="#causes" data-toggle="tab">Causes</a></li>
                  <li><a data-toggle="tab" href="#articles" >Articles</a></li>
                </ul>
              </div>
                <div class="tab-content">
                  <div class="active tab-pane" id="questions">
                    <!-- Post -->
                    <% if @items.length > 0 %>
                      <% @items.each do |item| %>
                        <%= render 'questions/question', :question => item, :answers => item.answers.order('created_at DESC'), :full => false %>
                      <% end %>
                    <%else%>
                      <h2>This user has asked no questions </h2>
                    <%end%>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="contests">
                    <!-- The timeline -->
                     <% if @itemsCo.length > 0 %>
                      <% @itemsCo.each do |item| %>
                        <%= render 'contests/contest', :contest => item, :contest_answers => item.contest_answers, :is_admin => is_admin?, :full => false %>
                      <% end %>
                    <%else%>
                      <h2>This user has asked won no contests </h2>
                    <%end%>
                  </div>
                  <!-- /.tab-pane -->
    
                  <div class="tab-pane" id="causes">
                    <% if @itemsCa.length > 0 %>  
                      <% @itemsCa.each do |item| %>
                        <%= render 'causes/cause', :cause => item, :cause_comments => item.cause_comments, :full => false %>
                      <% end %>
                    <%else%>
                      <h2>This user has supported no cause</h2>
                    <%end%>
                  </div>
                  
                  <div class="tab-pane" id="articles">
                    <% if @itemsCa.length > 0 %>    
                      <% @itemsA.each do |item| %>
                        <%= render 'articles/article', :article => item, :full => false %>
                      <% end %>
                    <%else%>
                      <h2>This user has written no articles</h2>
                    <%end%>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    
        </section>
    <!-- /.content -->
  </div>
</div>



<%= javascript_include_tag "questions_script", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "contests_script", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "causes_script", "data-turbolinks-track" => true  %>