<div class="main-login">
  <br/><br/><br/><br/><br/><br/><br/>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
          <h1 style="color:#fff; font-family:Lato;font-size:80px">Lixerr</h1>
          <h3 style="margin-top:-1em">Support Campaigns & Ask Questions</h3>
          <%= render "devise/shared/links" %>
        </div>
        <div class="col-xs-3 col-xs-offset-1 login-div">
          <br>
          <h4>Find Answers of your choice</h4>
          <br><br>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row fields">
          <%= f.text_field :name, autofocus: true,class: 'form-fields',placeholder: 'Name' %>
      </div>
      <br/>
      <div class="row fields">
          <%= f.email_field :email, autofocus: true,class: 'form-fields',placeholder: 'Email' %>
      </div>
      <br/>
      <div class="row fields">
        <% if @minimum_password_length %>

        <% end %>
        <%= f.password_field :password, autocomplete: "off",class: 'form-fields',placeholder: 'Password' %>
      </div>
      <br/>
      <div class="row fields">
        <% if @minimum_password_length %>

        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-fields',placeholder: 'Confirm Password' %>
      </div>
      <!-- for button of login -->
      <br/>
      <div class="row sign-in">
          <!-- use for the button using rb -->
            <center><%= f.submit "SIGN UP", class:"btn btn-login" %></center>
      </div>
      <!--  remeber me-->
      <br/>
      <div class="row remember">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      <% end -%>
      </div>
      
      <!--sign up  -->
      <div class="row">
        <div class="pull-right">
          
        </div>
      </div>
        </div>
      </div>
      <br><br>
      <br>

    </div>
