<div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
  <div class="carousel-inner">
      <div class="item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-offset-0 col-md-12">
                <div class="" style="margin-top:;">
                  <h2> <%= link_to article.heading, article_path(:id => article.id) %></h2>
                  <p class="font-size">
                    <div id="question_detail<%= article.id %>">
                      
                      <% if !article.content.nil? %>
                        <% if article.content.length > 250 && full == false %>
                        
                        <%= truncate(article.content.html_safe, length: 180) %>
                        <%= link_to '...Read more', '', class: "read-more-#{article.id}" %>
                        <script>
                          $('.read-more-<%= article.id %>').on('click', function(e) {
                            e.preventDefault()
                            $(this).parent().html('<%= escape_javascript article.content.html_safe %>')
                          })
                        </script>
                      
                      <% else %>
                        <%= article.content.html_safe %>
                        <br>
                      <% end %>
                    <%end%>
                  </div>
                  </p>
                </div>          
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div><br/>
<!--code is present in the extra.html-->




<!---->