<div class="box box-widget cause-block">
  <div class="box-header with-border">
    <div class="user-block">
        <% if article.user.profile_pic.length != 0 %>
          <%= image_tag atricle.user.profile_pic.thumb, class: 'img-circle',height: '128px', width:'128px' %>
        <% else %>
          <%= image_tag 'thumb.jpg', class: 'img-circle', height: '128px', width:'128px' %>
        <% end %>
      <span class="username">
          <%= link_to article.user.name, public_profile_path(:id => article.user.id) %>
          <% article.topics[0..2].sort.each do |topic| %>
            <span class=""><%= link_to topic.titleize, articles_path(:topic => topic),class:'label label-dark' %></span>
          <% end %>
          <% if article.topics.length > 3 %>
            and <%= article.topics.length - 3 %> more
          <% end %>
      </span>
      <span class="description">Wrote - <%= (Time.now.to_date - article.created_at.to_date).to_i %> day(s) ago</span>
    </div> <!-- /.user-block -->
    <% if user_signed_in? && article.user == current_user %>
      <div class="box-tools">
        <%= link_to edit_article_path(:id => article.id), class: 'btn btn-box-tool', title:'Edit Article' do  %>
          <i class="fa fa-pencil"></i>
        <%end%>
        <%= link_to article_path(:id => article.id), class: 'btn btn-box-tool', method: :delete, data: { confirm: 'Are you sure?'} do  %>
          <i class="fa fa-times"></i>
        <%end%>
      </div> <!-- /.box-tools -->
    <%end%>
  </div> <!-- /.box-header -->
  <div class="box-body">
    <h3> <%= link_to article.heading, article_path(:id => article.id) %></h3>
    <%= image_tag 'photo2.png', class: 'img-responsive pad'%>
    <p>
      <div id="question_detail">
        <%= article.intro %>
      </div>
    </p>
      <% if full == true %>
        <p>
          <div id="question_detail">
            <%= article.content.html_safe %>
          </div>  
        </p>
      <%end%>
    </div>
  </div>