<div style="padding: 5px;">
  <% if !@article_request.nil? %>
    <div class="row">
      <div class="col-xs-12">
        <p>Written in response to <%= link_to @article_request.heading, article_request_path(:id => @article_request.id) %></p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-10">
      <p>In
        <% article.topics.each do |topic| %>
          <%= link_to topic, articles_path(:topic => topic) %>
        <% end %>
      </p>
    </div>

    <div class="col-xs-2">
      <% if article.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-edit" style="color: green;"></i>'.html_safe, edit_article_path(:id => article.id) %>
        <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, article_path(:id => article.id), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="question-content">
        <%= link_to article.heading, article_path(:id => article.id) %>
      </div>
      <p>By <%= link_to article.user.name, public_profile_path(:id => article.user.id) %>, <%= article.created_at.strftime('%-d %B, %Y') %></p>

      <p><i><%= article.intro %></i></p>

      <% if full == true %>
        <p><%= article.content.html_safe %></p>
      <% end %>
    </div>
  </div>
</div>
<hr>