<div style="margin: 2em 0em; padding: 5px;">
  <% if !@article_request.nil? %>
    <div class="row">
      <div class="col-xs-12">
        <p>Written in response to <%= link_to @article_request.heading, article_request_path(:id => @article_request.id) %></p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-10">
      <p>In
        <% article.topics.each do |topic| %>
          <%= topic %>
        <% end %>
      </p>
    </div>

    <div class="col-xs-2">
      <% if article.user == current_user %>
        <%= link_to '<i class="glyphicon glyphicon-edit" style="color: green;"></i>'.html_safe, edit_articles_path(:id => article.id) %>
        <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, articles_path(:id => article.id), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-top:0px;"><%= article.heading %></h2>
      <p>By <i style="color:green;"><%= article.user.name %></i>, <%= article.created_at.strftime('%d-%m-%Y') %></p>

      <p><i><%= article.intro %></i></p>

      <p><%= article.content %></p>
    </div>
  </div>
</div>