<div class="background-div">
  <div class="container">
    <ul class="nav nav-tabs  cause-block" style="padding-top:-1.3em;padding-left:1.5em;">
      <li class="active"><%= link_to 'Read Articles', articles_path %></li>
      <li><%= link_to 'Write an Article', new_article_path %></li>
      <li><%= link_to 'Request Articles', new_article_request_path %></li>
      <li><%= link_to 'Answer Requests', article_requests_path %></li>
    </ul>
    <!-- New article area -->
    <div class="row">
      <div class="col-md-8">
        <% if @articles.length == 0 %>
          <h3>No Articles were are Available</h3>
        <%else%>
          <% @articles.each do |article| %>
            <%= render 'article', :article => article, :full => false %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= render 'layouts/sidebar'%>
      </div>
        <%end%>
      </div>
    </div>
  </div>

        