<% if !user_signed_in? %>
  <%= render 'layouts/navbar1'%>
<%end%>

<div class="container main-wall">
  <div class="row">
    <!-- Leftbar  -->
    <div class="col-xs-2">
      <%= render 'layouts/leftbar'%>
    </div>

    <!-- New article area -->
    <div class="col-xs-7">
      <h2>Write an Article for ProjectQ</h2><br>

      <%= form_for @article, :url => {:controller =>"articles", :action =>"create"} do |f| %>
        <p><strong>Topics</strong></p>
        <%= f.select :topics, options_for_select(get_all_interests.sort!), {}, {:multiple => true, :size => 3 } %>

        <p><strong>Heading</strong></p>
        <%= f.text_field :heading, autofocus: true, class: 'form-control',placeholder: 'A heading for your article' %> <br>

        <p><strong>Introduction (Optional)</strong></p>
        <%= f.text_area :intro, class: 'form-control', placeholder: 'An introduction of your article' %><br>

        <p><strong>Content</strong></p>
        <%= f.text_area :content, class: 'form-control', placeholder: 'Start writing here...' %><br>

        <%= f.submit "Create", class:'btn btn-default' %>
      <% end %>
    </div>

    <!-- Suggestions -->
    <div class="col-xs-3">
      <%= render 'layouts/suggestions'%>
    </div>
  </div>
</div>