    <div class="row">
      <div class="col-md-8">
        <h2>Write an Article for ProjectQ</h2><br>
        <%= form_for @article, :url => {:controller =>"articles", :action =>"create"} do |f| %>
        <p><strong>Topics</strong></p>
          <%= f.select :topics, options_for_select(get_all_interests.sort!), {}, {class: 'form-control drop',:multiple => true, :size => 3 } %>
          <br/>
          <p><strong>Heading</strong></p>
          <%= f.text_field :heading, autofocus: true, class: 'form-control',placeholder: 'A heading for your article' %> <br>
  
          <p><strong>Introduction (Optional)</strong></p>
          <%= f.text_area :intro, class: 'form-control', placeholder: 'An introduction of your article' %><br>
  
          <p><strong>Content</strong></p>
          <%= f.cktext_area :content, class: 'form-control', placeholder: 'Start writing here...' %><br>
  
          <%= f.submit "Create", class:'btn btn-ask2' %>
        <% end %>
        <br/><br/>
      </div>
      <div class="col-md-4">
        <%= render 'layouts/sidebar_articles'%>
      </div>
    </div>
  </div>
</div>


