<div style="padding: 5px;">
  <div class="row">
    <div class="col-xs-2">
      <%= image_tag 'thumb.jpg', class: 'img img-responsive', width: 45 %>
    </div>
    <div class="col-xs-8" style="margin-left: -50px;">
      <%= link_to contest_answer.user.name, public_profile_path(:id => contest_answer.user.id) %>
      <p class="text-muted"><small>301 views</small></p>
    </div>
  </div>
  
  <div class="row">
    <!-- Showing contest answer and username -->
    <div class="col-xs-10">
      <!-- to make read more link -->
      <% if contest_answer.answer.length > 250 %>
        <div>
          <p id="contest_answer<%= answer.id %>" class="truncated-answer" style="display:inline;"><%= truncate(contest_answer.answer, length: 250) %></p>  
        </div>
        <%= link_to 'Read more', '', id: "read-more-#{contest_answer.id}" %>
        
        <script>
          $('#read-more-<%= contest_answer.id %>').on('click', function(e) {
            e.preventDefault()
            $(".truncated-answer").html('<%= escape_javascript contest_answer.answer %>')
          })
        </script>
      <% else %>
        <p><%= contest_answer.answer %></p>
      <% end %>
      
      <p class="text-muted"><small>Posted on <%= contest_answer.updated_at.strftime('%-d %B, %Y') %></small></p>
    </div>

    <!-- Showing edit and delete options -->
    <div class="col-xs-2">
      <% if is_admin? && contest_answer.contest.winner_chosen == false %>
        <button id="mark_winner<%= contest_answer.id %>">Mark Winner</button>
      <% else %>
        <% if contest_answer.is_winner %>
          <button style="color: green;">Winner</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if contest_answer.image.length != 0 %>
    <!-- Displaying contest_answer's image -->
    <div class="row">
      <div class="col-xs-12">
        <img src="<%= contest_answer.image %>" class="img img-responsive">
        <br>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("[id^=mark_winner]").click(function() {
    const contest_answer_id = this.id.substring(11, this.id.length)
    
    // Sending ajax request to follow the contest
    $.ajax({
      url: "/mark_winner",
      type: "POST",
      data: {
        contest_answer_id: contest_answer_id,
      },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        if (data.status.localeCompare("success") == 0) {
          alert("done")
          location.reload()
        } else {
          alert("failed. please try again")
        }
      },
      error: function() {
        alert("error")
      }
    })
  })
</script>