<!-- Template for rendering a contest -->
<div class="row" style="margin-top: 0.5em;">
  <div class="col-xs-12">
    <div>
      <!-- Hidden field for question content -->
      <input type="text" id="contest_content<%= contest.id %>" value="<%= contest.content %>" hidden>

      <!-- Question's header -->
      <div class="row">
        <!-- Question's content -->
        <div class="col-xs-10 question-content" >
          <% if is_admin %>
            <%= link_to contest.content, contests_path(:id => contest.id) %>
          <% else %>
            <p> <%= contest.content %> </p>
          <% end %>
        </div>

        <!-- Question edit and delete buttons -->
        <div class="col-xs-2">
          <% if is_admin %>
            <i id="edit_contest<%= contest.id %>" class="glyphicon glyphicon-edit" style="color: green;"></i>
            <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, contests_path(:id => contest.id), method: :delete, data: { confirm: 'Are you sure?'} %>
          <% end %>
        </div>
      </div>

      <!-- Question's owner name -->
      <div class="row">
        <div class="col-xs-12">
          <p>Posted by Admin,<i> <%= (Time.now.to_date - contest.created_at.to_date).to_i %> day(s) ago</i></p>
          <%= social_share_button_tag(contest.content) %>
        </div>
      </div>

    </div><br/>

    <div class="question-image">
      <%= contest.image %>
    </div><br/>

    <div class="question-details">
      <p id="contest_detail<%= contest.id %>"><%= contest.detail %></p>
    </div>

    <!-- Showing Answer, Follow and Share buttons -->
    <% if is_admin %>  
      <button id="endC<%= contest.id %>" class="btn btn-default">End Contest</button>
    <% else %>
      <button id="answerC<%= contest.id %>" class="btn btn-default">Answer | <%= contest.contest_answers.length %></button>
    <% end %>

    <% if is_admin %>
      <p>Need to show answers to admin</p>
    <% end %>
  </div>
</div>

<hr class="question-hr">