<div class="box box-widget cause-block">
  <div class="box-header with-border">
    <div class="user-block">
    <% if user_signed_in? && contest.user == current_user %>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Edit Contest" id="edit_contest<%= contest.id %>">
          <i class="fa fa-pencil"></i>
        </button>
        <%= link_to delete_contest_path(:id => contest.id), class: 'btn btn-box-tool', method: :delete, data: { confirm: 'Are you sure?'} do %>
          <i class="fa fa-times"></i>
        <%end%>
      </div> <!-- /.box-tools -->
    <%end%>
    </div>
  </div> <!-- /.box-header -->
  <div class="box-body">
    <div class="headingcause"><%= link_to contest.content.capitalize, contest_path(:id => contest.id) %>
      <span class="pull-right">
        <% if contest.status == 'open' %>
          <span class="label label-success"><%= contest.status.upcase! %></span> till <span class="label label-default"><%= contest.end_date %></span>
        <% else %>
          <span class="status-danger"><%= contest.status.upcase! %></span>
        <% end %>
        <% if contest.winner_chosen %>
          <span class="label label-dark">WON BY <span style="color:green;"><%= User.find_by_id(contest.winner_id).name.upcase! %></span>
        <% end %>
      </span>
    </div>
    <% if contest.image.length !=0 %>
      <%= image_tag contest.image.url(), class: 'img-responsive pad'%>
    <%end%>
    <p>
      <div id="contest_detail<%= contest.id %>">
        <%= contest.detail.html_safe %>
      </div>
    </p>
    
    <% if !contest.winner_chosen %>
      <% if is_admin %>
        <button class="btn btn-default"><%= link_to 'Participants', contest_path(:id => contest.id) %> | <%= contest.contest_answers.length %></button>
        <button id="endC<%= contest.id %>" class="btn btn-default">End Now</button>
      <% else %>
        <% if user_signed_in? %>
          <button id="answerC<%= contest.id %>" class="btn btn-default">Participate | <%= contest.contest_answers.length %></button>
          <span class="pull-right text-muted"><%= social_share_button_tag(contest.content) %></span>
        <% else %>
          <div class="btn btn-default" data-toggle="modal" data-target="#signInModal">Participate | <%= contest.contest_answers.length %></div>
        <% end %>
      <% end %>
    <%end%>
  </div>
  <% if is_admin && full == true %>
      <% if !contest_answers.empty? %>
        <hr>
        <% contest_answers.each do |contest_answer| %>
          <%= render 'contest_answer', :contest_answer => contest_answer %>
        <% end %>
      <% end %>
    <% end %>
    <input type="text" id="contest_content<%= contest.id %>" value="<%= contest.content %>" hidden>
</div>















