<div class="box box-widget cause-block">
  <div class="box-header with-border">
    <div class="user-block">
        <% if cause.user.profile_pic.length != 0 %>
          <%= image_tag cause.user.profile_pic, class: 'img-circle',height: '128px', width:'128px' %>
        <% else %>
          <%= image_tag 'thumb.jpg', class: 'img-circle', height: '128px', width:'128px' %>
        <% end %>
      <span class="username">
          <%= link_to cause.user.name, public_profile_path(:id => cause.user.id) %>
            <span class="label label-dark"><%= cause.cause_type %></span>
      </span>
      <span class="description">Started Cause - <%= (Time.now.to_date - cause.created_at.to_date).to_i %> day(s) ago</span>
    </div> <!-- /.user-block -->
    <!-- /.user-block -->
    <% if user_signed_in? && cause.user == current_user %>
      <div class="box-tools">
        <%= link_to  pledge_edit_path(:cause_id => cause.id),class:'btn btn-box-tool',title:"Edit Cause" do %>
          <i class="fa fa-pencil"></i>
        <%end%>
        <%= link_to delete_cause_path(:id => cause.id), class: 'btn btn-box-tool', method: :delete, data: { confirm: 'Are you sure?'} do  %>
          <i class="fa fa-times"></i>
        <%end%>
      </div> <!-- /.box-tools -->
    <%end%>
  </div>
   <div class="box-body">
    <div class="headingcause"><%= link_to cause.intro, cause_path(:id => cause.id),data: {no_turbolink: true } %>
      <span style="margin-left:2em">
        <% if cause.pledgeTo.nil?%>
        <%else%>
          <span class="label label-danger"><%= cause.total_pledges%></span> 
        <%end%>
        <% if cause.petitionTo.nil?%>
        <%else%>
          <span class="label label-danger"><%= cause.total_signs%> signs</span><span class="description">required</span> 
        <%end%>  
      </span>
    </div>
    <%= image_tag cause.image.url(), class: 'img-responsive pad'%>
    <p>
     <% if cause.detail.length > 250 && full == false %>
        <%= truncate(cause.detail, length: 250) %>
        <%= link_to '...Read more', '', class: "read-more-#{cause.id}" %>
        <script>
          $('.read-more-<%= cause.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript cause.detail %>')
          })
        </script>
      <% else %>
        <%= cause.detail %>
        <br>
      <% end %>
    </p> 
    <% if user_signed_in? %>
      <button id="commentC<%= cause.id %>" class="btn btn-default">Comment | <%= cause_comments.length %></button>
      <% if current_user.causes_followed.include? cause.id %>
        <button class="btn btn-default" style="color:blue;">Following</button>
      <% else %>
        <button id="follow_cause<%= cause.id %>" class="btn btn-default">Follow</button>
      <% end %>
      <button id="agree_<%= cause.id %>" class="btn btn-default"><i class="fa fa-thumbs-o-up"></i>Agree | <%= cause.num_agree %></button>
      <button id="disagree_<%= cause.id %>" class="btn btn-default"><i class="fa fa-thumbs-o-down"></i>Disagree | <%= cause.num_disagree %></button>
    <% else %>
      <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#signInModal"><i class="fa fa-thumbs-o-comment"></i>Comment | <%= cause_comments.length %></div>
      <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#signInModal">Follow</div>
      <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#signInModal"><i class="fa fa-thumbs-o-up"></i>Agree | <%= cause.num_agree %></div>
      <div class="btn btn-default btn-xs" data-toggle="modal" data-target="#signInModal"><i class="fa fa-thumbs-o-down"></i>Disagree | <%= cause.num_disagree %></div>
      <span class="pull-right">
        <%= social_share_button_tag(cause.detail) %>
      </span>
    <% end %>
  </div>
  <% if full == true%>
<div id="causeCommentContent<%= cause.id %>" class="row hidden">
      <div class="col-xs-12">
        <% @cause_comment = CauseComment.new %>
        <%= form_for @cause_comment, :url => { :controller =>"cause_comments", :action =>"create"}  do |f| %>
          <%= f.cktext_area :content, class: 'form-control' %><br>
          <%= f.hidden_field :cause_id, value: cause.id %>
      </div>
      <div class="col-xs-4 col-xs-offset-8">
        <div>
          <%= f.submit "Post", class:'btn btn-squared btn-ask1'%>
        </div>
        <% end %>
      </div>
    </div>
<%end%>

    <div class="col-xs-12" style="margin-top: 1em;">
      <% if !cause_comments.empty? %>
        <!-- Rendering comments -->
        <% if full == true %>
          <hr>

          <% cause_comments.each do |cause_comment| %>
            <%= render 'causes/cause_comment', :cause_comment => cause_comment %>
          <% end %>
        <% else %>
          <%= render 'causes/cause_comment', :cause_comment => cause_comments.sort_by {|a| a.created_at }.last %>
        <% end %>
      <% end %>
    </div>
<% if full == true %>
  <script>
    $("[id^=commentC]").click(function() {
      cause_id = this.id.substring(8, this.id.length)
      console.log('id: '+cause_id)

      $("#causeCommentContent"+cause_id).toggleClass("hidden")
  })
  </script>
<% end %>
<input type="text" id="cause_intro<%= cause.id %>" value="<%= cause.intro %>" hidden>
</div>
<%= javascript_include_tag "causes_script", "data-turbolinks-track" => true  %>