<!-- Template for rendering a cause -->
<div class="row" style="margin-top: 0.5em;">
  <div class="col-xs-12">
    <p><i><%= cause.cause_type %></i></p>
    
    <!-- Cause's header -->
    <div class="row">
      <!-- Hidden field for cause intro -->
      <input type="text" id="cause_intro<%= cause.id %>" value="<%= cause.intro %>" hidden>

      <!-- Cause's content -->
      <div class="col-xs-10 question-content" >
        <%= link_to cause.intro, cause_path(:id => cause.id) %>
      </div>

      <!-- Cause edit and delete buttons -->
      <div class="col-xs-2">
        <% if cause.user == current_user %>
          <a id="edit_causeC<%= cause.id %>" class="icon-text">edit</a>
          <%= link_to 'delete', causes_path(:id => cause.id), class: 'icon-text', method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>
      </div>
    </div>
    
    <% if full == false %>
      <div class="question-details" style="margin-bottom:-1em;">
        <p id="cause_detail<%= cause.id %>"><%= cause.detail %></p>
      </div>
    <% end %>

    <% if full == true %>
      <!-- Cause's owner name -->
      <div class="row">
        <div class="col-xs-12">
          <p>Started by <%= link_to cause.user.name, public_profile_path(:id => cause.user.id) %>,<i> <%= (Time.now.to_date - cause.created_at.to_date).to_i %> day(s) ago</i></p>
        </div>
      </div><br/>
  
      <% if !cause.image.nil? && cause.image.length != 0 %>
        <!-- Showing cause's image -->
        <img src="<%= cause.image %>" class="img img-responsive">
        <br/>
      <% end %>
  
      <div class="question-details" style="margin-top: -1.5em;">
        <p id="cause_detail<%= cause.id %>"><%= cause.detail %></p>
      </div>
  
      <div class="question-details">
        <p style="font-weight: bold; font-style: normal;">Why it matters?</p>
        <p id="cause_whymatters<%= cause.id %>"><%= cause.whymatters %></p>
      </div>
  
      <!-- Rendering cause buttons -->
      <div class="row">
        <div class="col-xs-9">
          <% if user_signed_in? %>
            <button id="commentC<%= cause.id %>" class="btn btn-default">Comment | <%= cause_comments.length %></button>
            <% if current_user.causes_followed.include? cause.id %>
              <button class="btn btn-default" style="color:blue;">Following</button>
            <% else %>
              <button id="follow_cause<%= cause.id %>" class="btn btn-default">Follow</button>
            <% end %>
            <button id="agree_<%= cause.id %>" class="btn btn-default">Agree | <%= cause.num_agree %></button>
            <button id="disagree_<%= cause.id %>" class="btn btn-default">Disagree | <%= cause.num_disagree %></button>
          <% else %>
            <div class="btn btn-default" data-toggle="modal" data-target="#signInModal">Comment | <%= cause_comments.length %></div>
            <div class="btn btn-default" data-toggle="modal" data-target="#signInModal">Follow</div>
            <div class="btn btn-default" data-toggle="modal" data-target="#signInModal">Agree | <%= cause.num_agree %></div>
            <div class="btn btn-default" data-toggle="modal" data-target="#signInModal">Disagree | <%= cause.num_disagree %></div>
          <% end %>
        </div>
        <!-- Bottom right buttons -->
        <div class="col-xs-3" style="margin-top: 0.8em;">
          <%= social_share_button_tag(cause.detail) %>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12" style="margin-top: 1em;">
      <% if !cause_comments.empty? %>
        <!-- Rendering comments -->
        <% if full == true %>
          <hr>
        
          <% cause_comments.each do |cause_comment| %>
            <%= render 'causes/cause_comment', :cause_comment => cause_comment %>
          <% end %>
        <% else %>
          <%= render 'causes/cause_comment', :cause_comment => cause_comments.sort_by {|a| a.created_at }.last %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<hr class="question-hr">