<!--user image code goes here from extra.html-->
<!--ended-->
      
<div class="well">
  <div class="media">
    <a class="pull-left" href="#">
    <%= image_tag cause.image.url(), class: 'media-object',height:"125", width:"150"%>
    <!--cause.image.url()-->
  </a>
  <div class="media-body">
    <h2 class="media-heading"><%= link_to cause.intro, cause_path(:id => cause.id),data: {no_turbolink: true } %></h2>
    <!--<span class="label label-danger"><%= cause.total_signs%> signs</span><span class="description">required</span>-->
    <p class="text-right"> By <%= link_to cause.user.name, public_profile_path(:id => cause.user.id) %></p>
    <p>     
      <% if cause.detail.length > 250 && full == false %>
        <%= truncate(cause.detail, length: 250) %>
        <%= link_to '...Read more', '', class: "read-more-#{cause.id}" %>
        <script>
          $('.read-more-<%= cause.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript cause.detail %>')
          })
        </script>
      <% else %>
        <%= cause.detail.html_safe %>
        <br>
      <% end %>
    </p>
    <ul class="list-inline list-unstyled">
      <% if user_signed_in? %>
      <li><button id="commentC<%= cause.id %>" class="btn btn-primary btn-ask2">Comment | <%= cause_comments.length %></button></li>
      <% if current_user.causes_followed.include? cause.id %>
        <li><button class="btn btn-primary btn-ask2 disabled">Following</button></li>
      <% else %>
        <li><button id="follow_cause<%= cause.id %>" class="btn btn-primary btn-ask2">Follow</button></li>
      <% end %>
      <% if current_user.causes_agreed.include? cause.id %>
        <li><button id="agree_<%= cause.id %>" class="btn btn-primary btn-ask2 disabled"><i class="fa fa-thumbs-o-up"></i>Signed | <%= cause.num_agree %></button></li>
      <%else%>
        <li><button id="agree_<%= cause.id %>" class="btn btn-primary btn-ask2"><i class="fa fa-thumbs-o-up"></i>Sign | <%= cause.num_agree %></button></li>
      <%end%>  
      <% if current_user.causes_disagreed.include? cause.id %>
        <li><button id="disagree_<%= cause.id %>" class="btn btn-primary btn-ask2 disabled"><i class="fa fa-thumbs-o-down"></i>Disagreed | <%= cause.num_disagree %></button></li>
      <%else%>
        <li><button id="disagree_<%= cause.id %>" class="btn btn-primary btn-ask2"><i class="fa fa-thumbs-o-down"></i>Disagree | <%= cause.num_disagree %></button></li>
      <%end%>
    <% else %>
      <li><div class="btn btn-primary btn-ask2  btn-xs" data-toggle="modal" data-target="#signInModal"><i class="fa fa-thumbs-o-comment"></i>Comment | <%= cause_comments.length %></div></li>
      <li><div class="btn btn-primary btn-ask2 btn-xs" data-toggle="modal" data-target="#signInModal">Follow</div></li>
      <li><div class="btn btn-primary btn-ask2 btn-xs" data-toggle="modal" data-target="#signInModal"><i class="fa fa-thumbs-o-up"></i>Agree | <%= cause.num_agree %></div></li>
      <li><div class="btn btn-primary btn-ask2 btn-xs" data-toggle="modal" data-target="#signInModal"><i class="fa fa-thumbs-o-down"></i>Disagree | <%= cause.num_disagree %></div></li>
      <span class="pull-right">
        <%= social_share_button_tag(cause.detail) %>
      </span>
    <% end %>
    </ul>
    <div id="causeCommentContent<%= cause.id %>" class="row hidden">
      <div class="col-xs-12">
        <% @cause_comment = CauseComment.new %>
        <%= form_for @cause_comment, :url => { :controller =>"cause_comments", :action =>"create"}  do |f| %>
          <%= f.cktext_area :content, class: 'form-control' %><br>
          <%= f.hidden_field :cause_id, value: cause.id %>
      </div>
      <div class="col-xs-4 col-xs-offset-8">
        <div>
          <%= f.submit "Post", class:'btn btn-squared btn-ask1'%>
        </div>
        <% end %>
      </div>
    </div>
   </div>
  </div>
</div>
<script>
$("[id^=commentC]").click(function() {
    cause_id = this.id.substring(8, this.id.length)
    console.log('id: '+cause_id)

    $("#causeCommentContent"+cause_id).toggleClass("hidden")
})
  
  
$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});
  
</script>      
<input type="text" id="cause_intro<%= cause.id %>" value="<%= cause.intro %>" hidden>
<%=  render 'causes/signed_modal'%>

      
