<%= render 'layouts/side_menu'%>
<%if user_signed_in?%>
  <div class="col-sm-6" style="margin-left:">
    <div class="row">
      <% @causes.each do |cause| %>
        <%= render 'cause', :cause => cause, :cause_comments => cause.cause_comments, :full => false %>
      <% end %>
       <!--/.box -->
    </div>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/cause_suggestion'%>
  </div>
<%else%>
  <div class="background-div">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <% @causes.each do |cause| %>
                <%= render 'cause', :cause => cause, :cause_comments => cause.cause_comments, :full => false %>
              <% end %>
         <!--/.box -->
          </div>
        </div>
      </div>
    </div>
<%end%>
<%= javascript_include_tag "causes_script", "data-turbolinks-track" => true  %>



