<div class="container main-wall">
    <div class="row">
    <!-- Leftbar  -->
        <div class="col-xs-2">
          <%= render 'layouts/leftbar'%>
        </div>
        <!--middle content for creation-->
        <div class = "col-xs-7">
            <div class="row">
                <div class = "col-xs-offset-1 col-xs-10">
                  <h2>People can Help By</h2>
                  <div class="cause-simple-text">
                      People are powerful
                  </div>
                </div>
            </div>
            <%= form_for @cause,:url =>{:controller=>"causes",:action=>"petition_update",:cause_id =>@cause.id} do |f| %>
            <!--fields-->
            <div class="row">
                <div class = "col-xs-offset-1 col-xs-10">
                    <div class="field">
                        <%= f.text_field :petitionTo, autofocus: true,class: 'form-control',placeholder: 'What are you petitioning ?'%><br/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class = "col-xs-offset-1 col-xs-10">
                    <div class="field">
                        <%= f.text_field :petition_help, autofocus: true,class: 'form-control',placeholder: 'What does this pledge help people?'%><br/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class = "col-xs-offset-1 col-xs-10">
                    <div class="field">
                        <%= f.date_field :petitiondate, autofocus: true,class: 'form-control',placeholder: 'What does this end?'%><br/>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class = "col-xs-offset-1 col-xs-10">
                    <div class="field">
                        <%= f.text_field :petition_signs, autofocus: true,class: 'form-control',placeholder: 'How many signatures do you need?'%><br/>
                    </div>
                </div>
            </div>
            <%= f.submit "Submit Petition",class:'btn btn-ask1'%>
        </div>
        
        <%end%>
        
      <div class="col-xs-3">
          <%= render 'layouts/suggestions'%>
        </div>  
    </div>
</div>