    <div class="row">
        <div class="col-md-12 cause-s-block" style="height:250px;width:100%;margin-bottom:2em">
          <%= image_tag @cause.image.url(), class:'img-responsive cause-img'%>
    </div>
    <div class="row">
        <!--for pledge code is in the extra.html-->
        
        
        <!--for petition-->
        <div class = "col-xs-6">
            <%if !@cause.petitionTo.nil?%>
                <div class="panel panel-default apanel1">
            	    <div class="panel-heading">
                        <h3 class="panel-title"><%=@cause.intro.capitalize%></h3>
                        <span class="pull-right" style="margin-top:-1.4em;">
                            <%= link_to causes_edit_petition_path(:cause_id => @cause.id),class:'btn btn-box-tool',title:"Edit Cause" do%>
                            <i class="fa fa-pencil"></i>
                            <%end%>
                        </span>
                    </div>
                    <!--details of the cause pledge-->
                    <div class="panel-body">
                        <div class="text">Petition To:<span><strong style="color:#4c4c4c;padding-left:3em;"><%=@cause.petitionTo%></strong></span></div><br/>
                        <div class="text">Total Signed:<span><strong style="color:#4c4c4c;padding-left:3em;"><%=@cause.total_signs%></strong></span></div><br/>
                        <div class="text">Signs Required:<span><strong style="color:#4c4c4c;padding-left:3em;"><%=@cause.petition_signs%></strong></span></div><br/>
                    </div>    
                </div>
            <%else%>
                <%=link_to "Add Petition",{:controller => 'causes', :action => 'petition',:id => @cause.id}, class: 'btn btn-cause'%>
        </div>
        <%end%>        
    </div>
    
</div>