<div style="border: 1px solid black; margin: 2px;">
  <p><%= answer.answer %></p>
  <i>- <%= User.find_by_id(answer.user_id).name %></i>
  <br>

  <button id="upvote<%= answer.id %>">Upvote | <%= answer.upvotes %></button>
  <button id="downvote<%= answer.id %>">Downvote</button>
  <button>Replies</button>
</div>