<!-- Posting cause modal -->
<div class="modal bnr-modal fade" id="causeModal" tabindex="-1" role="dialog" style="height:750px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
           <h4>Starting a New Cause</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <section>
            <% @cause = Cause.new %>
            <%= form_for @cause,:url =>{:controller=>"causes",:action=>"create"} do |f| %>
            <div class="wizard">
              <div class="wizard-inner">
                <div class="connecting-line"></div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                      <!--steps of the form -->
                      <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-folder-open"></i>
                        </span>
                      </a>
                    </li>

                    <li role="presentation" class="disabled">
                      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                      </a>
                    </li>

                    <li role="presentation" class="disabled">
                      <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-tree-deciduous"></i>
                        </span>
                      </a>
                    </li>
                    <li role="presentation" class="disabled">
                      <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                        <span class="round-tab">
                          <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                      </a>
                  </li>

                  <li role="presentation" class="disabled">
                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                      <span class="round-tab">
                        <i class="glyphicon glyphicon-ok"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
              <!--content in the forms  -->
              <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="step1">
                      <div class="row" style="padding-top:1em;">
                        <div class="col-xs-6 cause_quote">
                          <h3> Start your cause & show the world what you care about </h3>
                        </div>
                        <div class="col-xs-6">
                          <p><strong>Cause type</strong></p>
                          <div class="form-group">
                            <%= f.select :cause_type, options_for_select(get_all_cause_types), autofocus: true, class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                      <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                      </ul>
                  </div>
                  <!-- 2nd step -->
                  <div class="tab-pane" role="tabpanel" id="step2">
                      <div class="row" style="padding-top:1em;">
                        <div class="col-xs-6 cause_quote">
                          <h3> Start your cause & show the world what you care about </h3>
                        </div>
                        <div class="col-xs-6">
                          <p><strong>Cause Intro</strong></p>
                          <div class="form-group">
                            <%= f.text_field :intro, class: 'form-control', placeholder: 'A brief introduction' %>
                        </div>
                      </div>
                    </div>
                      <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                      </ul>
                  </div>
                  <!-- causes details field -->
                  <div class="tab-pane" role="tabpanel" id="step3">
                      <div class="row" style="padding-top:1em;">
                        <div class="col-xs-6 cause_quote">
                          <h3> Start your cause & show the world what you care about </h3>
                        </div>
                        <div class="col-xs-6">
                          <p><strong>Cause detail</strong></p>
                          <div class="form-group">
                            <%= f.text_area :detail, cols: 20, rows: 3, class: 'question-detail form-control', placeholder: 'Please provide some detail' %>
                        </div>
                      </div>
                    </div>
                      <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                      </ul>
                  </div>
                  <!-- for why it matters field  -->
                  <div class="tab-pane" role="tabpanel" id="step4">
                      <div class="row" style="padding-top:1em;">
                        <div class="col-xs-6 cause_quote">
                          <h3> Start your cause & show the world what you care about </h3>
                        </div>
                        <div class="col-xs-6">
                          <p><strong>Cause detail</strong></p>
                          <div class="form-group">
                            <%= f.text_area :whymatters, cols: 20, rows: 3, class: 'question-detail form-control', placeholder: 'Why does this matter to you?' %>
                          </div>
                        </div>
                    </div>
                      <ul class="list-inline pull-right">
                          <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                      </ul>
                  </div>
                  <!-- for image and create button  -->
                  <div class="tab-pane" role="tabpanel" id="complete">
                    <div class="row" style="padding-top:1em;">
                      <div class="col-xs-6 cause_quote">
                        <h3> Images creates stronger effect on people </h3>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Upload Image</strong></p>
                        <div class="form-group">
                          <%= f.file_field :image,class: 'btn' %>
                       </div>
                      </div>
                    </div>
                      <ul class="list-inline pull-right">
                          <li><%= f.submit "Post",class:'btn btn-squared btn-ask1'%></li>
                      </ul>
                  </div>
                  <!-- ended -->
                </section>
              </div>
            </section>
            <%end%>
        </div>
      </div>
  </div>
</div>

<!--ended  -->

<!-- Modal for posting cause comment -->
<div class="modal bnr-modal fade" id="causeCommentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4 id="cause-header"></h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @cause_comment = CauseComment.new %>
          <%= form_for @cause_comment, :url => { :controller =>"cause_comments", :action =>"create"}  do |f| %>
            <div class="form-group">
              <p><strong>Your comment</strong></p>
              <%= f.text_area :comment, rows: 3, class: 'form-control' %><br>
              <%= f.hidden_field :cause_id %>
            </div>
            <center>
              <%= f.submit "Post", class:'btn btn-ask1'%>
            </center>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for posting cause reply -->
<div class="modal bnr-modal fade" id="causeReplyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Reply</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @cause_reply = CauseReply.new %>
          <%= form_for @cause_reply, :url => { :controller =>"cause_replies", :action =>"create"}  do |f| %>
          <div class="form-group">
            <p><strong>Your reply</strong></p>
            <%= f.text_area :reply, rows: 3, class: 'form-control' %><br>
            <%= f.hidden_field :cause_comment_id %>
          </div>
          <div class="row">
            <center>
              <%= f.submit "Post", class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Editing cause modal -->
<div class="modal bnr-modal fade" id="editCauseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Cause</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Introduction</strong></p>
            <input id="new_cause_intro" type="text" class="form-control"><br>

            <p><strong>Detail</strong></p>
            <textarea id="new_cause_detail" class="form-control"></textarea><br>

            <p><strong>Why does it matter?</strong></p>
            <textarea id="new_cause_whymatters" class="form-control"></textarea><br>
            <br>

            <center>
              <input id="new_cause_submit" type="submit" value="Update" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>



<!-- Editing cause comment modal -->
<div class="modal bnr-modal fade" id="editCauseCommentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Comment</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Your comment</strong></p>
            <input id="new_cause_comment_comment" type="text" class="form-control"><br>

            <center>
              <input id="new_cause_comment_submit" type="submit" value="Update" class="btn btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for updating a cause reply -->
<div class="modal bnr-modal fade" id="editCauseReplyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Reply</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Your reply</strong></p>
            <input id="new_cause_reply_reply" class="form-control" /><br>

            <center>
              <input id="new_cause_reply_submit" type="submit" value="Update" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
