<!-- Posting contest modal -->
<div class="modal bnr-modal fade" id="contestModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
           <h4>New Contest</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <% @contest = Contest.new %>
          <%= form_for @contest,:url =>{:controller=>"contests",:action=>"create"} do |f| %>
          <div class="form-group">
            <div class="row" style="padding-top:1em;">
              <div class="col-xs-6">
                <p><strong>Contest header</strong></p>
                <%= f.text_field :content, autofocus: true, class: 'question-ask-field form-control',placeholder: 'What do you want to ask?'%> <br>
              </div>
              <div class="col-xs-6">
                <p><strong>Winning prize</strong></p>
                <%= f.text_field :prize, class: 'form-control', placeholder: 'Whats the winning prize' %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <p><strong>Contest detail</strong></p>
                <%= f.text_area :detail, cols: 20, rows: 3, class: 'question-detail form-control', placeholder: 'Please provide some detail' %>
              </div>
              <div class="col-xs-6">
                <p><strong>Please select end date</strong></p>
                <%= f.date_select :end_date %>
              </div>
            </div>
          </div>
          <!-- for image upload -->
          <div class="row" style="border-left: 1px solid #e7e7e7;">
            <center>
              <%= f.file_field :image,class: 'btn' %> <br>
              <%= f.submit "Post Contest",class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Editing contest modal -->
<div class="modal bnr-modal fade" id="editContestModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Contest</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Heading</strong></p>
            <input id="new_contest_content" type="text" class="form-control"><br>
            
            <p><strong>Detail</strong></p>
            <textarea id="new_contest_detail" class="form-control"></textarea><br>

            <center>
              <input id="new_contest_submit" type="submit" value="Update Contest" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Posting ContestAnswer modal -->
<div class="modal bnr-modal fade" id="contestAnswerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4 id="contest-header"></h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @contest_answer = ContestAnswer.new %>
          <%= form_for @contest_answer, :url => { :controller =>"contest_answers", :action =>"create"}  do |f| %>
            <div class="form-group">
              <p><strong>Your answer</strong></p>
              <%= f.text_area :answer, rows: 5, class: 'form-control' %><br>
              <%= f.hidden_field :contest_id %>
            </div>
            <center>
              <%= f.file_field :image %><br>
              <%= f.submit "Post Answer", class:'btn btn-ask1'%>
            </center>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>