<div class="left-bar">
  <div class="row">
    <div class="left-bar-comp">
      <!-- Questions and its submenu -->
      <div id="menu-item1" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Questions</span>
      </div>

      <!-- Showing to user only -->
      <div id="menu-item1-links" style="margin-left: 3em;" class="hidden">
        <p><a href="<%= questions_path(:type => :asked) %>">Asked</a></p>
        <p><a href="<%= questions_path(:type => :answered) %>">Answered</a></p>
        <p><a href="<%= questions_path(:type => :following) %>">Following</a></p>
      </div>

      <!-- Contests and its submenu -->
      <div id="menu-item2" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Contests</span>
      </div>

      <div id="menu-item2-links" style="margin-left: 3em;" class="hidden">
        <% if is_admin? %>
          <p><a hred="#" style="margin-top: 1em;" data-toggle="modal" data-target="#contestModal">Start a Contest</a></p>
        <% end %>
        <p><a href="<%= contests_path(:type => :open) %>">View Contests</a></p>
        <!-- Not for admin -->
        <% if !is_admin? %>
          <p><a href="<%= contests_path(:type => :participated) %>">Participated</a></p>
          <p><a href="<%= contests_path(:type => :won) %>">Contests Won</a></p>
        <% end %>
        <p><a href="<%= contests_path(:type => :close) %>">Contests Closed</a></p>
      </div>

      <!-- Causes and its submenu -->
      <div id="menu-item3" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Causes</span>
      </div>

      <div id="menu-item3-links" style="margin-left: 3em;" class="hidden">
        <p><a href="#" data-toggle="modal" data-target="#causeModal">Start a Cause</a></p>
        <p><a href="<%= causes_path %>">View Causes</a></p>
        <p><a href="<%= causes_path(:type => :followed) %>">Followed</a></p>
        <p><a href="<%= causes_path(:type => :agreed) %>">Agreed</a></p>
        <p><a href="<%= causes_path(:type => :disagreed) %>">Disagreed</a></p>
      </div>

      <!-- Articles and its submenu -->
      <div id="menu-item4" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><span id="icon-text">Articles</span>
      </div>

      <div id="menu-item4-links" style="margin-left: 3em;" class="hidden">
        <p><%= link_to 'Write an Article', new_articles_path %></p>
        <p><%= link_to 'Request an Article', new_article_request_path %></p>
        <p><%= link_to 'Answer a Request', article_requests_path %></p>
      </div>
    </div>
  </div>

  <%= flash[:open_menu] %>
</div>

<script type="text/javascript">
  $("[id^=menu-item]").click(function() {
    const id = this.id.substring(9, this.id.length)

    <% if user_signed_in? %>
      $("#menu-item"+id+"-links").toggleClass("hidden")
    <% else %>
      window.location = "<%= new_user_session_path %>"
    <% end %>
  })
</script>