<div class="left-bar">
  <div class="row">
    <div class="left-bar-comp">
      <!-- Questions and its submenu -->
      <div id="menu-item1" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-question-sign" style="margin-top:10px;"></i><a class="icon-text">Questions</a>
      </div>

      <!-- Showing to user only -->
      <div id="menu-item1-links" style="margin-left: 3em;" class="hidden">
        <p><a href="<%= questions_path(:type => :asked) %>">Asked</a></p>
        <p><a href="<%= questions_path(:type => :answered) %>">Answered</a></p>
        <p><a href="<%= questions_path(:type => :following) %>">Following</a></p>
      </div>

      <!-- Contests and its submenu -->
      <div id="menu-item2" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-comment" style="margin-top:10px;"></i><a class="icon-text">Contests</a>
      </div>

      <div id="menu-item2-links" style="margin-left: 3em;" class="hidden">
        <p><a href="<%= contests_path(:type => :open) %>">View Contests</a></p>
        
        <!-- Not for admin -->
        <% if !is_admin? %>
          <p><a href="<%= contests_path(:type => :participated) %>">Participated</a></p>
          <p><a href="<%= contests_path(:type => :won) %>">Contests Won</a></p>
        <% end %>
        <p><a href="<%= contests_path(:type => :close) %>">Closed Contests</a></p>
      </div>

      <!-- Causes and its submenu -->
      <div id="menu-item3" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-heart" style="margin-top:10px;"></i><a class="icon-text">Causes</a>
      </div>

      <div id="menu-item3-links" style="margin-left: 3em;" class="hidden">
        <p><a href="<%= causes_path %>">View Causes</a></p>
        <p><a href="<%= causes_path(:type => :followed) %>">Followed</a></p>
        <p><a href="<%= causes_path(:type => :agreed) %>">Agreed</a></p>
        <p><a href="<%= causes_path(:type => :disagreed) %>">Disagreed</a></p>
      </div>

      <!-- Articles and its submenu -->
      <div id="menu-item4" style="font-weight: bold;">
        <i class="icons glyphicon glyphicon-paperclip" style="margin-top:10px;"></i><a class="icon-text">Articles</a>
      </div>

      <div id="menu-item4-links" style="margin-left: 3em;" class="hidden">
        <p><%= link_to 'Read Articles', articles_path %></p>
        <% if user_signed_in? && current_user.completed == false %>
          <p><a href="<%= profile_path %>">Write an Article</a></p>
          <p><a href="<%= profile_path %>">Request Articles</a></p>
          <p><a href="<%= profile_path %>">Answer Requests</a></p>
        <% else %>
          <p><%= link_to 'Write an Article', new_article_path %></p>
          <p><%= link_to 'Request Articles', new_article_request_path %></p>
          <p><%= link_to 'Answer Requests', article_requests_path %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div style="width: 100%;">
    <br>
     <%= image_tag 'ad.png', class: 'img img-responsive' %>
  </div>
</div>

<script type="text/javascript">
  $("[id^=menu-item]").click(function() {
    const id = this.id.substring(9, this.id.length)

    <% if user_signed_in? %>
      $("#menu-item"+id+"-links").toggleClass("hidden")
    <% else %>
      if (parseInt(id) === 1) {
        window.location = "<%= questions_path %>" 
      } else if (parseInt(id) === 2) {
        window.location = "<%= contests_path %>" 
      } else if (parseInt(id) === 3) {
        window.location = "<%= causes_path %>" 
      } else {
        window.location = "<%= articles_path %>" 
      }
    <% end %>
  })
</script>