<div class="nav-bar">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 project-name">
      projectQ
    </div>
    <div class="col-md-3">
      <br/>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon"></span>
        <input class="form-control" id="search-bar" placeholder="search" style="background-color:#fff;border:none;border-bottom:1px solid #383838;outline:none;">
      </div>
    </div>

    <!-- Ask question dropdown -->
    <div class="col-md-1">
      <br/>
      <input type="button" class="btn btn-ask" id="getquote" value="Ask Question" data-toggle="modal" data-target="#myModal">
    </div>

    <!-- Glyphicons - right side -->
    <div class="col-md-3 col-md-offset-1 button-group-nav">
      <br/>
      <!-- read wall -->
      <%= link_to root_path, class: "btn btn-nav" do %>
        <i class="glyphicon glyphicon-list-alt"></i>
      <% end %>

      <!-- give answers -->
      <%= link_to new_user_registration_path, class: "btn btn-nav" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>

      <!-- notifications -->
      <%= link_to notifications_path, class: "btn btn-nav" do %>
        <i class="glyphicon glyphicon-bullhorn"></i>
      <% end %>

      <div class="dropdown" style="display: inline;">
        <button class="btn btn-nav dropdown-toggle" type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="<%= profile_path %>">Edit</a></li>
          <li><a href="<%= public_profile_path(:id => current_user.id) %>">Preview</a></li>
        </ul>
      </div>

      <!--logout link  -->
      <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-nav" do %>
        <i class="glyphicon glyphicon-off"></i>
      <% end %>

      <!--profile pic show to make  -->
    </div>
  </div>
</div>

<!-- Rendering modals for posting and editing -->
<% if user_signed_in? %>
  <%= render 'layouts/question_modals' %>
  <%= render 'layouts/cause_modals' %>
<%else%>
  <%= render 'layouts/signup' %>
<%end%>