<nav class="navbar navbar-default navbar-fixed-top navbar-color">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand white" href="<%= questions_path %>">Lixerr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
    <div class="wrap">     
      <%= form_tag("/search", method: "get", :class => 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= text_field_tag(:query, "", :class=>"form-control custom-form", :placeholder=>"Search") %>
          <span class="input-group-btn">
            <%= submit_tag("Search", :class=>"btn btn-default custom-btnn", :name=>"submit") %>
          </span>
        </div>
      <% end %>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in?%>
      
        <li ><a href="<%=questions_path%>" class="white">Feed</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Write <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#myModal">Ask Question</a></li>
            <% if is_admin? %>
              <li><a href="" data-toggle="modal" data-target="#contestModal">Start a Contest</a></li>
            <% end %>
            <li><a href="<%= new_cause_path %>">Start Cause</a></li>
            <li><a href="<%= new_article_path %>">Write an Article</a></li>
          </ul>
        </li>
        
        <li>
          <% if current_user.read == true %>
            <a href="<%notifications_path%>" class="white">Notification</a></li>
          <%else%>
            <a href="<%notifications_path%>" class="white">Notification</a></li>
            <!--<div style=" margin-left: 0.5em;">-->
            <!--  <div style="width: 20px; height: 20px; background-color: #F5F5F5; border-radius: 10px;">-->
            <!--    <span style="color: red;">1</span>-->
            <!--  </div>-->
            <!--</div>-->
          <%end%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="<%= profile_path %>">Profile</a></li>
            <li><a href="<%= public_profile_path(:id => current_user.id) %>">View Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: ""%></li>
          </ul>
        
        </li>
      
      <%else%>
        
        <li><a class='white' href="#" data-toggle="modal" data-target="#signInModal">Sign in</a></li>
        <li><%=link_to "Sign up", new_user_registration_path, class:'white'%></li>
      <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Rendering modals for posting and editing -->
<% if user_signed_in? %>
  <%= render 'layouts/question_modals' %>
  <%= render 'layouts/contest_modals' %>
  <%= render 'layouts/cause_modals' %>
  <%= render 'layouts/profile_modals' %>
<% else %>
  <%= render 'layouts/user_modals' %>
<%end%>