<div class="nav-bar" >
  <div class="row" style="background-color:#C0392B">
    <div class="col-md-2 col-md-offset-1 project-name">
      <a id="logo" href="<%= questions_path %>">LIXERR</a>
    </div>
    <div class="col-md-4">
      <br/>
      <%= form_tag("/search", method: "get") do %>
        <div class="input-group">
          <%= text_field_tag(:query, "", :class=>"form-control", :placeholder=>"Search") %>
          <span class="input-group-btn">
            <%= submit_tag("Search", :class=>"btn btn-secondary1", :name=>"submit") %>
          </span>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-3 col-md-offset-2 button-group-nav"><br/>
      <div class="btn btn-ask1" data-toggle="modal" data-target="#signUpModal">Sign Up</div>
      <div class="btn btn-ask1" data-toggle="modal" data-target="#signInModal">Sign In</div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:0em;background-color:#fff;border-top:1px solid #95a5a6;padding-left:21em;">
          <center>
            <ul class="nav nav-tabs other-tabs" style="padding-top:-1.3em;padding-left:1.5em;">
              <li class="active"><a href="<%= questions_path(:type => :following) %>">Questions</a></li>
              <li><a href="<%= contests_path(:type => :open) %>">Contests</a></li>
              <li><a href="<%= causes_path(:type => :followed) %>">Causes</a></li>
              <li><%= link_to 'Read Articles', articles_path %></li>
            </ul>
          </center>
  				</div>
  			</div>
  </div>
</div>

<% if !user_signed_in? %>
  <%= render 'layouts/user_modals' %>
<% end %>