<div class="nav-bar">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 project-name">
      <a id="logo" href="<%= questions_path %>">LIXERR</a>
    </div>
    <div class="col-md-4">
      <br/>
      <%= form_tag("/search", method: "get") do %>
        <div class="input-group">
          <%= text_field_tag(:query, "", :class=>"form-control", :placeholder=>"Search") %>
          <span class="input-group-btn">
            <%= submit_tag("Search", :class=>"btn btn-secondary", :name=>"submit") %>
          </span>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-3 col-md-offset-2 button-group-nav"><br/>
      <div class="btn btn-ask1" data-toggle="modal" data-target="#signUpModal">Sign Up</div>
      <div class="btn btn-ask1" data-toggle="modal" data-target="#signInModal">Sign In</div>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
  <%= render 'layouts/user_modals' %>
<% end %>