<!-- Modal for posting question -->
<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>New Question</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @question = Question.new %>
          <%= form_for @question,:url =>{ :controller =>"questions", :action =>"create"}  do |f| %>
          <div class="form-group">
            <div class="row" style="padding-top:1em;">
              <label class="col-md-1 col-md-offset-1 control-label"><span class="glyphicon glyphicon-search"></span></label>
              <div class="col-md-5">
                <%= f.text_field :content, autofocus: true,id: 'ask-question',class: 'question-ask-field form-control',placeholder: 'What do you want to ask?'%> <br>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">
                <%= f.text_area :detail, cols: 20, rows: 3, class: 'question-detail form-control', placeholder: 'Please provide some detail' %>
              </div>
              <div class="col-xs-4 col-xs-offset-1">
                <%= f.select :topics, options_for_select(get_all_interests.sort!), {}, {:multiple => true, :size => 3 } %>
              </div>
            </div>
          </div>
          <!--  Image upload -->
          <div class="row" style="border-left: 1px solid #e7e7e7;">
            <center>
              <%= f.file_field :image,class: 'btn' %> <br>
              <%= f.submit "Post",class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for posting answer -->
<div class="modal bnr-modal fade" id="answerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4 id="question-header"></h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @answer = Answer.new %>
          <%= form_for @answer, :url => { :controller =>"answers", :action =>"create"}  do |f| %>
          <div class="form-group">
            <p><strong>Your answer</strong></p>
            <%= f.text_area :answer, rows: 3, class: 'form-control' %><br>
            <%= f.hidden_field :question_id %>
          </div>
          <div class="row">
            <center>
              <%= f.file_field :image %><br>
              <%= f.submit "Post", class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for posting reply -->
<div class="modal bnr-modal fade" id="replyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Reply</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <!-- create a new question using this modal -->
          <% @reply = Reply.new %>
          <%= form_for @reply, :url => { :controller =>"replies", :action =>"create"}  do |f| %>
          <div class="form-group">
            <p><strong>Your reply</strong></p>
            <%= f.text_area :reply, rows: 3, class: 'form-control' %><br>
            <%= f.hidden_field :answer_id %>
          </div>
          <div class="row">
            <center>
              <%= f.submit "Post", class:'btn btn-squared btn-ask1'%>
            </center>
          </div>
          <%end%>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for editing a question -->
<div class="modal bnr-modal fade" id="editQuestionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Question</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Heading</strong></p>
            <input id="new_question_content" type="text" class="form-control"><br>
            
            <p><strong>Detail</strong></p>
            <textarea id="new_question_detail" class="form-control"></textarea><br>

            <center>
              <input id="new_question_submit" type="submit" value="Update" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for editing an answer -->
<div class="modal bnr-modal fade" id="editAnswerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Answer</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Your answer</strong></p>
            <textarea id="new_answer_answer" class="form-control"></textarea><br>

            <center>
              <input id="new_answer_submit" type="submit" value="Update" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal for updating a reply -->
<div class="modal bnr-modal fade" id="editReplyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10">
            <h4>Reply</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <section>
        <div class="modal-body modal-spa">
          <form enctype="multipart/form-data" onsubmit="event.preventDefault();">
            <p><strong>Your reply</strong></p>
            <input id="new_reply_reply" class="form-control" /><br>

            <center>
              <input id="new_reply_submit" type="submit" value="Update" class="btn btn-squared btn-ask1" />
            </center>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>