<div style="margin: 2em 0em; padding: 5px;">
  <div class="row">
    <!-- Showing answer and username -->
    <div class="col-xs-10">
      <p id="reply<%= reply.id %>"><%= reply.reply %></p>
      <i>- <%= reply.user.name %></i>
    </div>

    <!-- Showing edit and delete options -->
    <div class="col-xs-2">
      <% if reply.user == current_user %>
        <i id="edit_reply<%= reply.id %>" class="glyphicon glyphicon-edit" style="color: green;"></i>
        <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, replies_path(:id => reply.id), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>
</div>