<div class="panel panel-primary navbar-custom navbar-color" style="border:none">
  <!-- Default panel contents -->
  <div class="panel-heading">Trending Questions</div>
    <div class="file-form">
    <%= form_tag import_questions_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>

  <!-- List group -->
  <% @questions = Question.order("RANDOM()").limit(7) %>
      
      
      
  <ul class="list-group">
    <% @questions.each do |question| %>
      <li class="list-group-item"><%= link_to question.content.gsub(/\-/, " "), question_path(:id => question.content), class: 'icon-text' %></a></li>
    <% end %>
  </ul>
</div>
 <% if user_signed_in? %>
<div class="panel panel-primary navbar-custom" style="border:none">
  <!-- Default panel contents -->
  <div class="panel-heading">Update Interests</div>
        <br/>
        <p>
          <% current_user.interests[0..2].sort.each do |interest| %>
            <%= link_to interest.titleize, questions_path(:topic => interest) %> .
          <% end %>
          <% if current_user.interests.length > 3 %>
            and <%= current_user.interests.length - 3 %> more
          <% end %>
        </p>
        
        <center>
          <button class="btn btn-ask2" data-toggle="modal" data-target="#addInterestsModal">Add More</button><br/>
        </center>
      </div>
    <% end %>