<div class="suggestions">
  <div class="row">
    <div class="col-xs-12">
      <div class="heading-7">New question</div>
      <hr class='profile-hr'>
      
      <input id="inpage-question-content" class="form-control" placeholder="Have a Question?"></input><br>
      <% if user_signed_in? %>
        <center><div class="btn btn-ask1" id="inpage-question-post">Post</div></center>
      <% else %>
        <center><div class="btn btn-ask1" data-toggle="modal" data-target="#signInModal">Post</div></center>
      <% end %>
    </div>
    
    <div class="col-xs-12">
      <div class="heading-7">Trending</div>
      <hr class='profile-hr'>
      
      <% @questions = Question.order('created_at DESC').limit(10).sort_by {|q| -q.answers.count} %>
      
      <% @questions.each do |question| %>
        <p><a><%= link_to question.content, question_path(:id => question.id), class: 'icon-text' %></a></p>
      <% end %>
    </div>
    
    
    <% if user_signed_in? %>
      <div class="col-xs-12">
        <div class="heading-7">Update Interests</div>
        <hr class='profile-hr'>
        
        <p>
          <% current_user.interests.sort.each do |interest| %>
             <%= link_to interest.titleize, questions_path(:topic => interest) %> .
          <% end %>
        </p>
        
        <%= form_tag("/add_interest", method: "post") do %>
          <p><%= select_tag :interest, options_for_select(get_all_interests.sort!), class: "form-control" %></p>
  
          <center>
            <%= submit_tag 'Update', class: "btn btn-ask1" %>
          </center>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("#inpage-question-post").click(function () {
    $("#question_content").val($("#inpage-question-content").val())
    $("#myModal").modal('show')
  })
</script>