<!DOCTYPE html>
<html>
<head>
  <title>ProjectQ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>

  	<!-- Rendering navigation bar -->
    <%= render 'layouts/navbar'%>
    <% else %>

  <%end%>
</head>
<body>
<%= yield %>

</body>
</html>
